@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Century-Gothic';
    src: url('/src/fonts/centurygothic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.navigation__list {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 21.6px;
}

.main-header__title {
    font-family: 'Century-Gothic';
    font-size: 14px;
    font-weight: 700;
    line-height: 20.3px;
}

.main-search__header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
}

.main-search__text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
}

.form-about__input {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.main-content__author {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    line-height: 12.5px;
}

.main-content__title {
    font-family: 'Century-Gothic';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
}

.content-size-s__title {
    font-family: 'Century-Gothic';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.main-content__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.content-size-s__description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.content-size-m_header--upper-case {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 47px;
    line-height: 57,29px;
}
 
.content-size-m__header {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    line-height: 26.25px;
}

.content-size-m__description {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.content-size-m__input {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.content-size-m__submit {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17.5px;
}

.author__label {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.author__name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.author__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
}

.footer-navigation__title {
    font-family: 'Century-Gothic';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.62px;
}

.footer-requisites__title,
.socials__title {
    font-family: 'Century-Gothic';
    font-weight: 700;
    font-size: 16px;
    line-height: 34.4px;
}

.footer-navigation__list {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 31.5px;
}

.footer-requisites__name,
.footer-requisites__value {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
}

.footer-document-politic--link,
.footer-document__copyright {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
